//https://pugjs.org/api/getting-started.html
//ethereal.email - servidor fake de emails.

p #{name}, vi que você solicitou a recuperação da sua senha. Por favor, clique <a href="">aqui</a> ou use este token: #{token}
